@{
    ViewBag.Title = "Minh Khang Store";
}

@section AddStyles{
    <link href="@Url.Content("~/Scripts/jquery.bxslider/jquery.bxslider.css")" rel="stylesheet" type="text/css" />
}

@section HomeSlider{
    <div id="home-slide-section">
        <ul class="page-slider">
            <li><img src="content/images/slideshow_1.jpg" /></li>
            <li><img src="content/images/slideshow_2.jpg" /></li>
            <li><img src="content/images/slideshow_3.jpg" /></li>
            <li><img src="content/images/slideshow_4.jpg" /></li>
        </ul>
    </div>
}

@section PageTitle{
    <div class="title-section">
        <h3>
            Sản phẩm mới
            <span class="pull-right"><a href="#">Xem tất cả</a></span>
        </h3>
    </div>
}

<ul class="product-list clearfix">
    <li class="item">
        <a class="name" href="#">Apple-iPhone-5s-32GB</a>
        <div class="image">
            <a href="#">
                <img src="content/images/product-10-270x270.png" alt="Alternate Text"/>
            </a>
        </div>
        <div class="price">
            <span class="price-old">1,200,000</span>
            <br/>
            <span class="price-new">1,100,000</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info">Đặt mua</button>
            <button type="button" class="btn btn-info">Chi tiết</button>
        </div>
    </li>
    <li class="item">
        <a class="name" href="#">Apple-iPhone-5s-32GB</a>
        <div class="image">
            <a href="#">
                <img src="content/images/product-10-270x270.png" alt="Alternate Text"/>
            </a>
        </div>
        <div class="price">
            <span class="price-old">1,200,000</span>
            <br/>
            <span class="price-new">1,100,000</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info">Đặt mua</button>
            <button type="button" class="btn btn-info">Chi tiết</button>
        </div>
    </li>
    <li class="item">
        <a class="name" href="#">Apple-iPhone-5s-32GB</a>
        <div class="image">
            <a href="#">
                <img src="content/images/product-10-270x270.png" alt="Alternate Text"/>
            </a>
        </div>
        <div class="price">
            <span class="price-old">1,200,000</span>
            <br/>
            <span class="price-new">1,100,000</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info">Đặt mua</button>
            <button type="button" class="btn btn-info">Chi tiết</button>
        </div>
    </li>
    <li class="item">
        <a class="name" href="#">Apple-iPhone-5s-32GB</a>
        <div class="image">
            <a href="#">
                <img src="content/images/product-10-270x270.png" alt="Alternate Text"/>
            </a>
        </div>
        <div class="price">
            <span class="price-old">1,200,000</span>
            <br/>
            <span class="price-new">1,100,000</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info">Đặt mua</button>
            <button type="button" class="btn btn-info">Chi tiết</button>
        </div>
    </li>
    <li class="item">
        <a class="name" href="#">Apple-iPhone-5s-32GB</a>
        <div class="image">
            <a href="#">
                <img src="content/images/product-10-270x270.png" alt="Alternate Text"/>
            </a>
        </div>
        <div class="price">
            <span class="price-old">1,200,000</span>
            <br/>
            <span class="price-new">1,100,000</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info">Đặt mua</button>
            <button type="button" class="btn btn-info">Chi tiết</button>
        </div>
    </li>
</ul>

@section AddScript{
    <!-- Bxslider -->
    <script src="@Url.Content("~/Scripts/jquery.bxslider/jquery.bxslider.min.js")"></script>

    <script>
        $(".page-slider").bxSlider({
            touchEnabled: false,
            mode: "fade",
            auto: true,
            speed: 600,
            tickerHover: true,
            pager: false,
            adaptiveHeight: true
        });
    </script>
}