@model App.Services.Dtos.Settings.HomepageViewModel
@{
    ViewBag.Title = "Nghệ Tĩnh 24h";
}

@section FullContent{

    @Html.Action("Featured", "Article")
    @Html.Action("Hot", "Article")
}


       
@foreach (var l in Model.Layouts)
{
    @Html.Action("Latest", "Article", new { categoryId = l.CategoryId })
}

@*<div class="row">
    <div class="col-md-6">
        <div class="post-widget">
            <div class="primary-heading">
                <a href="#">technology</a>
            </div>
            <div class="post-item post-item-vertical bg-white light-shadow">
                <div class="img-holder-wrap">
                    <a class="img-holder" href="#">
                        <img src="Content/images/img-06.jpg" alt="">
                    </a>
                    <span class="post-badge">Thời sự</span>
                </div>
                <div class="post-summary cat-listing">
                    <h4 class="post-title">
                        <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                    </h4>
                    <ul class="post-meta m0 p0">
                        <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                        <li><i class="fa fa-eye"></i> 20</li>
                    </ul>
                    <p class="mb20">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <ul class="post-wrap-list">
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                    </ul><!-- /.post-wrap-list-->
                </div>
            </div><!-- /.post-item-->
        </div><!-- /.post-widget-->
    </div>

    <div class="col-md-6">
        <div class="post-widget">
            <div class="primary-heading">
                <a href="#">technology</a>
            </div>
            <div class="post-item post-item-vertical bg-white light-shadow">
                <div class="img-holder-wrap">
                    <a class="img-holder" href="#">
                        <img src="Content/images/img-06.jpg" alt="">
                    </a>
                    <span class="post-badge">Thời sự</span>
                </div>
                <div class="post-summary cat-listing">
                    <h4 class="post-title">
                        <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                    </h4>
                    <ul class="post-meta m0 p0">
                        <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                        <li><i class="fa fa-eye"></i> 20</li>
                    </ul>
                    <p class="mb20">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <ul class="post-wrap-list">
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="img-holder-wrap">
                                <a class="img-holder" href="#">
                                    <img src="Content/images/img-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                                <ul class="post-meta m0 p0">
                                    <li><i class="fa fa-clock-o"></i> 2 giờ trước</li>
                                    <li><i class="fa fa-eye"></i> 20</li>
                                </ul>
                            </div>
                        </li>
                    </ul><!-- /.post-wrap-list-->
                </div>
            </div><!-- /.post-item-->
        </div><!-- /.post-widget-->
    </div>
</div>

<div class="post-widget">
    <div class="primary-heading">
        <h2>
            <a>Công nghệ</a>
        </h2>
    </div>
    <div class="bg-white light-shadow p20">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="post-item post-item-vertical">
                    <div class="img-holder-wrap mb15">
                        <a class="img-holder" href="#">
                            <img src="Content/images/img-06.jpg" alt="">
                        </a>
                        <span class="post-badge">Thời sự</span>
                    </div>
                    <div class="post-summary">
                        <h5 class="post-title">
                            <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                        </h5>
                        <ul class="post-meta m0 p0">
                            <li><i class="fa fa-user"></i> Tuấn Lê</li>
                            <li><i class="fa fa-comments-o"></i> 20</li>
                        </ul>
                        <p class="p0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="post-item post-item-vertical">
                    <div class="img-holder-wrap mb15">
                        <a class="img-holder" href="#">
                            <img src="Content/images/img-06.jpg" alt="">
                        </a>
                        <span class="post-badge">Thời sự</span>
                    </div>
                    <div class="post-summary">
                        <h5 class="post-title">
                            <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                        </h5>
                        <ul class="post-meta m0 p0">
                            <li><i class="fa fa-user"></i> Tuấn Lê</li>
                            <li><i class="fa fa-comments-o"></i> 20</li>
                        </ul>
                        <p class="p0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="post-item post-item-vertical">
                    <div class="img-holder-wrap mb15">
                        <a class="img-holder" href="#">
                            <img src="Content/images/img-06.jpg" alt="">
                        </a>
                        <span class="post-badge">Thời sự</span>
                    </div>
                    <div class="post-summary">
                        <h5 class="post-title">
                            <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                        </h5>
                        <ul class="post-meta m0 p0">
                            <li><i class="fa fa-user"></i> Tuấn Lê</li>
                            <li><i class="fa fa-comments-o"></i> 20</li>
                        </ul>
                        <p class="p0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.post-widget-->
<div class="post-widget">

            <div class="primary-heading">
                <a>Con người xứ nghệ</a>
            </div>
            <div class="post-item post-item-vertical bg-white light-shadow p20">
                <div class="row">
                    <div class="col-sm-6 pr20">
                        <div class="img-holder-wrap mb15">
                            <a class="img-holder" href="#">
                                <img src="Content/images/img-06.jpg" alt="">
                            </a>
                            <span class="post-badge">Thời sự</span>
                        </div>
                        <h4 class="post-title">
                            <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                        </h4>
                        <ul class="post-meta m0 p0">
                            <li><i class="fa fa-clock-o"></i>Tuấn Lê</li>
                            <li><i class="fa fa-eye"></i>20</li>
                        </ul>
                        <p class="p0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="post-wrap-list">
                            <li class="clearfix">
                                <div class="img-holder-wrap">
                                    <a class="img-holder" href="#">
                                        <img src="Content/images/img-06.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-summary">
                                    <h6 class="post-title">
                                        <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                    </h6>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-user"></i>Tuấn Lê</li>
                                        <li><i class="fa fa-comments-o"></i>20</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="img-holder-wrap">
                                    <a class="img-holder" href="#">
                                        <img src="Content/images/img-06.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-summary">
                                    <h6 class="post-title">
                                        <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                    </h6>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-user"></i>Tuấn Lê</li>
                                        <li><i class="fa fa-comments-o"></i>20</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="img-holder-wrap">
                                    <a class="img-holder" href="#">
                                        <img src="Content/images/img-06.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-summary">
                                    <h6 class="post-title">
                                        <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                    </h6>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-user"></i>Tuấn Lê</li>
                                        <li><i class="fa fa-comments-o"></i>20</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="img-holder-wrap">
                                    <a class="img-holder" href="#">
                                        <img src="Content/images/img-06.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-summary">
                                    <h6 class="post-title">
                                        <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                    </h6>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-user"></i>Tuấn Lê</li>
                                        <li><i class="fa fa-comments-o"></i>20</li>
                                    </ul>
                                </div>
                            </li>

                        </ul><!-- /.post-wrap-list-->
                    </div>
                </div>
            </div><!-- /.post-item-->

        </div><!-- /.post-widget-->

        <div class="post-widget">
            <div class="primary-heading">
                <a>Photo</a>
            </div>
            <div class="post-item post-item-vertical">
                <div id="carousel-photo" class="carousel slide carousel-thumbnail" data-ride="carousel" data-inverval="5000">
                    <div class="carousel-outer">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="img-holder-wrap">
                                    <a href="#">
                                        <div class="img-holder">
                                            <img src="Content/images/img-06.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-caption photo">
                                    <h4 class="post-title">
                                        <a href="#">
                                            Throughout life people will make you mad, disrespect you and treat you bad. Let God deal with the things they do.
                                        </a>
                                    </h4>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-cloc"></i> 2 giờ trước</li>
                                        <li><i class="fa fa-eye"></i> 20</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item">
                                <div class="img-holder-wrap">
                                    <a href="#">
                                        <div class="img-holder">
                                            <img src="Content/images/img-02.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-caption photo">
                                    <h4 class="post-title">
                                        <a href="#">
                                            Throughout life people will make you mad, disrespect you and treat you bad. Let God deal with the things they do.
                                        </a>
                                    </h4>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-cloc"></i> 2 giờ trước</li>
                                        <li><i class="fa fa-eye"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-holder-wrap">
                                    <a href="#">
                                        <div class="img-holder">
                                            <img src="Content/images/img-04.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-caption photo">
                                    <h4 class="post-title">
                                        <a href="#">
                                            Throughout life people will make you mad, disrespect you and treat you bad. Let God deal with the things they do.
                                        </a>
                                    </h4>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-cloc"></i> 2 giờ trước</li>
                                        <li><i class="fa fa-eye"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="img-holder-wrap">
                                    <a href="#">
                                        <div class="img-holder">
                                            <img src="Content/images/img-03.jpg" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="carousel-caption photo">
                                    <h4 class="post-title">
                                        <a href="#">
                                            Throughout life people will make you mad, disrespect you and treat you bad. Let God deal with the things they do.
                                        </a>
                                    </h4>
                                    <ul class="post-meta m0 p0">
                                        <li><i class="fa fa-cloc"></i> 2 giờ trước</li>
                                        <li><i class="fa fa-eye"></i> 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-photo" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#carousel-photo" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators clearfix">
                        <li class="active" data-target="#carousel-photo" data-slide-to="0">
                            <div class="img-holder-wrap">
                                <a class="img-holder">
                                    <img src="Content/images/img-03.jpg" alt="">
                                </a>
                            </div>
                        </li>
                        <li data-target="#carousel-photo" data-slide-to="1">
                            <div class="img-holder-wrap summary-inside">
                                <a class="img-holder">
                                    <img src="Content/images/img-03.jpg" alt="">
                                </a>
                            </div>
                        </li>
                        <li data-target="#carousel-photo" data-slide-to="2">
                            <div class="img-holder-wrap">
                                <a class="img-holder">
                                    <img src="Content/images/img-03.jpg" alt="">
                                </a>
                            </div>
                        </li>
                        <li data-target="#carousel-photo" data-slide-to="3">
                            <div class="img-holder-wrap">
                                <a class="img-holder">
                                    <img src="Content/images/img-03.jpg" alt="">
                                </a>
                            </div>
                        </li>
                        <li data-target="#carousel-photo" data-slide-to="3">
                            <div class="img-holder-wrap">
                                <a class="img-holder">
                                    <img src="Content/images/img-03.jpg" alt="">
                                </a>
                            </div>
                        </li>
                    </ol>

                </div><!-- /#carousel-photo-->

            </div><!-- /.post-item-->

        </div><!-- /.post-widget-->*@



@section SideBar{
    @Html.Partial("_SideBar")
}