
/* validation */
.validation-summary-valid {
    display: none;
}

/* Helper */
.vertical-middle {
     vertical-align: middle;
}
.underline {
    text-decoration: line-through;
}

.table td .label {
    display: inline-block;
}
