
@using App.Infrastructure.File
@model App.Services.Dtos.Settings.SettingDetail

<header id="header" class="header">
    <div class="container">
        <div class="nav-holder clearfix">
            <div class="logo">
                <a class="inner-logo" href="@Model.Website">
                    <img class="img-responsive" src="@Url.Content(GalleryHelper.GetLogoPath(Model.Logo))" alt="Xứ nghệ">
                </a>
            </div>
            <div class="nav-wrap">
                <nav id="main-nav" class="hidden">
                    @Html.Raw(Model.Menu)
                    @*<ul class="multi-level">
                        <li>
                            <a href="#">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                            <ul>
                                <li><a href="#">Thời sự</a></li>
                                <li><a href="#">Thể thao</a></li>
                            </ul>
                        </li>
                        
                    </ul>*@
                </nav>
                <div class="pull-left">
                    <a id="btn-open-search" class="menu-btn">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
                <div class="pull-left hidden-sm hidden-md hidden-lg">
                    <a id="btn-open-menu" class="menu-btn">
                        <i class="fa fa-reorder"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="search-form" class="">
            <form action="/">
                <div class="input-group search-box">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                    <input id="txt-search" name="term" type="text" class="form-control txt-search" placeholder="Nhập từ khóa & Enter">
                    <button class="btn-search-clear hide" type="button">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>
