<div class="side-widget bg-white light-shadow">
    <div class="primary-heading">
        <a>Top views</a>
    </div>
    <div class="horizontal-tabs-widget">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#TopViewsWeek" aria-controls="TopViewsWeek" role="tab" data-toggle="tab">Tuần</a></li>
            <li role="presentation"><a href="#TopViewsMonth" aria-controls="TopViewsMonth" role="tab" data-toggle="tab">Tháng</a></li>
            <li role="presentation"><a href="#TopViewsAll" aria-controls="TopViewsAll" role="tab" data-toggle="tab">Tất cả</a></li>
        </ul><!-- Nav tabs -->

        <div class="tab-content pb15 pt15">
            <div role="tabpanel" class="tab-pane active" id="TopViewsWeek">
                <ul class="top-views reset">
                    <li>
                        <div class="post-item">
                            <span class="number">1</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">2</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">3</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">4</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">5</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                </ul><!-- /.top-views-->
            </div>
            <div role="tabpanel" class="tab-pane" id="TopViewsMonth">
                <ul class="top-views reset">
                    <li>
                        <div class="post-item">
                            <span class="number">1</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">2</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">3</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">4</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">5</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                </ul><!-- /.top-views-->
            </div>
            <div role="tabpanel" class="tab-pane" id="TopViewsAll">
                <ul class="top-views reset">
                    <li>
                        <div class="post-item">
                            <span class="number">1</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">2</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">3</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">4</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="post-item">
                            <span class="number">5</span>
                            <div class="post-summary">
                                <h6 class="post-title">
                                    <a href="#">Google is on a journey but we won't really know where it leads until fall</a>
                                </h6>
                            </div>
                        </div>
                    </li>
                </ul><!-- /.top-views-->
            </div>
        </div><!-- Tab panes -->
    </div>
</div><!-- /.side-widget-->
<div class="side-widget bg-white light-shadow">
    <div class="primary-heading">
        <a>Advertisement</a>
    </div>
    <div>
        <a>
            <img class="img-responsive" src="Content/images/img-02.jpg" />
        </a>
    </div>
</div><!-- /.side-widget-->

<div class="side-widget bg-white light-shadow">
    <div class="primary-heading">
        <a>Categories</a>
    </div>
    <ul class="categories-widget reset">
        <li>
            <a>
                <em>The thao</em>
                <span class="bg-gray">15</span>
            </a>
        </li>
        <li>
            <a>
                <em>The thao</em>
                <span class="bg-gray">15</span>
            </a>
        </li>
        <li>
            <a>
                <em>The thao</em>
                <span class="bg-gray">15</span>
            </a>
        </li>
        <li>
            <a>
                <em>The thao</em>
                <span class="bg-gray">15</span>
            </a>
        </li>
        <li>
            <a>
                <em>The thao</em>
                <span class="bg-gray">15</span>
            </a>
        </li>
    </ul>
</div><!-- /.side-widget-->

<div class="side-widget bg-white light-shadow">
    <div class="primary-heading">
        <a>Advertisement</a>
    </div>
    <div>
        <div id="archive-datepicker" class="datepicker-inline"></div>
    </div>
</div><!-- /.side-widget-->