@using Newtonsoft.Json
@model HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Model.Exception.Message</h2>
<h4 class="text-danger">@Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented))</h4>

