body
{
    background: url("../images/background.png");
    color: #fff;
}
.container-fluid {
    background: rgba(0, 0, 0, 0.2);
    max-width: 1240px;
}
#logo {
    padding: 10px;
}
#logo img{
    width: 276px;
    height: 90px;
}

#call-us{
    display: block;
    padding: 45px 10px 30px 0;
    text-align: right;
}
#call-us a{
    color: #fff;
    font-size: 30px;
    padding-right: 5px;
    text-transform: uppercase;
}

#main-nav{
    margin: 4px 10px 15px;
}
#main-nav ul{
    margin: 0;
    padding: 0;
    background: #111;
}
#main-nav ul li{
    display: block;
    float: left;
}
#main-nav li a{
    display: block;
    border-right: 1px solid #333;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
#main-nav > ul > li.active > a,
#main-nav > ul > li > a:hover{
    background: #b12a2a;
}

/* Carousel */
#home-slider{
    margin-bottom: 20px; 
}
#home-slider .item img{
    width: 100%;
}
.carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}
.carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}
.carousel-control.left i{
    position: absolute;
    left: 22px;
    top: 45%;
}
.carousel-control.right i{
    right: 20px;
    position: absolute;
    top: 45%;
}
ol.carousel-indicators li {
    background: #888;
    border: 0 solid #888;
    padding: 8px;
}
.carousel-caption h2 {
    background: rgba(0, 0, 0, 0.5);
    font-size: 26px;
    padding: 20px 0;
    transition: all 0.3s ease 0s;
}
.carousel-caption h2 .price-style {
    color: orange;
    font-weight: 700;
}
#home-slider .carousel-inner .item.active:hover .carousel-caption h2 {
    cursor: pointer;
    opacity: 0;
}

.side-widget{
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}
.widget-title{
    background: #b12a2a;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 2.2em;
    margin-bottom: 0;
    margin: 0 0 10px 0;
    padding: 4px 10px;
    text-align: center;
    text-transform: uppercase;
}

.product-item{
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.product-item .images{
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}
.product-item .images > a{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.product-item .images > a > img{
    max-width: 100%;
    width: 100%;
}
.summary{
    padding: 8px 15px 15px;
    font-weight: 700;
}
.summary .name{
    padding: 10px 0 5px;
    font-size: 15px;
}
.summary .name > a{
    color: #fff;
    text-decoration: none;
}
.summary .price{
    font-size: 18px;
    color: orange;
    padding-bottom: 5px;
}
.summary .origin{
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}



.btn.btn-detail{
    background: #333;
    border-radius: 0;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.5s ease 0s;
}
.btn.btn-detail:hover{
    background: #dcdcdc;
    color: #000;
}

/* Facebook */
iframe #facebook .uiScaledImageContainer _2zfr, ._2p3a{
    width: 100% !important;
}
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}