
@{
    ViewBag.Title = "Tìm kiếm | Minh Khang Store";
    ViewBag.ContentContainerCssClass = "page-content";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="GET">
                <div id="search-box">
                    <h4 class="title">Nhập từ khóa cần tìm</h4>
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" style="" placeholder="Sản phẩm, dịch vụ, bài viết" name="q">
                    </div>
                    <input class="btn btn-lg btn-primary" type="submit" value="SEARCH">
                </div>
            </form>

        </div>
    </div>
</div>  