
@{
    ViewBag.Title = "Tìm kiếm | Minh Khang Store";
    ViewBag.ContentContainerCssClass = "page-content";
}


<div class="container">
    <div id="reach-result">
        <h4 class="title">Tìm thấy <strong>15</strong> kết quả</h4>

        <div class="item-result clearfix">
            <a class="thumbnail" href="#">
                <img src="images/product-37-270x270.png" alt="" />
            </a>
            <div class="info">
                <a href="#"> Tên sản phẩm</a>
                <p class="description"> Intended for those tweener temperatures which necessitate a slightly heavier fabric and coverage for the knees. Made of divinely comfortable fabric that seriously m-e-l-t-s onto your legs like a second skin. Dual layer fabric made of nylon on the inside,...</p>
            </div>
            <hr class="divider" />
        </div><!-- /.item-result-->
        <div class="item-result clearfix">
            <a class="thumbnail" href="#">
                <img src="images/product-37-270x270.png" alt="" />
            </a>
            <div class="info">
                <a href="#"> Tên sản phẩm</a>
                <p class="description"> Intended for those tweener temperatures which necessitate a slightly heavier fabric and coverage for the knees. Made of divinely comfortable fabric that seriously m-e-l-t-s onto your legs like a second skin. Dual layer fabric made of nylon on the inside,...</p>
            </div>
            <hr class="divider" />
        </div><!-- /.item-result-->
        <div class="item-result clearfix">
            <a class="thumbnail" href="#">
                <img src="images/product-37-270x270.png" alt="" />
            </a>
            <div class="info">
                <a href="#"> Tên sản phẩm</a>
                <p class="description"> Intended for those tweener temperatures which necessitate a slightly heavier fabric and coverage for the knees. Made of divinely comfortable fabric that seriously m-e-l-t-s onto your legs like a second skin. Dual layer fabric made of nylon on the inside,...</p>
            </div>
            <hr class="divider" />
        </div><!-- /.item-result-->
        <div class="item-result clearfix">
            <a class="thumbnail" href="#">
                <img src="images/product-37-270x270.png" alt="" />
            </a>
            <div class="info">
                <a href="#"> Tên sản phẩm</a>
                <p class="description"> Intended for those tweener temperatures which necessitate a slightly heavier fabric and coverage for the knees. Made of divinely comfortable fabric that seriously m-e-l-t-s onto your legs like a second skin. Dual layer fabric made of nylon on the inside,...</p>
            </div>
            <hr class="divider" />
        </div><!-- /.item-result-->
    </div><!-- /#reach-result-->
</div>