<div id="categories">
    <div class="filter-button">
        <span class="filter-button-open glyphicon glyphicon-menu-hamburger"></span>
        <span class="filter-button-close glyphicon glyphicon-remove"></span>
    </div>
    <div class="slide-navigation">
        <ul>
            <li><a>Apple</a></li>
            <li><a>Samsung</a></li>
            <li>
                <a>Nokia</a>
                <ul>
                    <li><a>Popular</a></li>
                    <li><a>N-series</a></li>
                    <li>
                        <a>Touch</a>
                        <ul>
                            <li><a>Popular</a></li>
                            <li><a>N-series</a></li>
                            <li><a>Touch</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a>HTC</a></li>
            <li><a>Blackberry</a></li>
            <li><a>Microsoft</a></li>
        </ul>
    </div>
</div>