@using System.Globalization
@using App.Infrastructure.File
@model IEnumerable<App.Services.Dtos.ProductManagement.ProductSummary>

@if (Model.Any())
{
    <div class="title-section">
        <h3>
            Sản phẩm liên quan
        </h3>
    </div>
    @Html.Partial("_ProductList", Model)
}