@model string
<section class="mt30 mb30">
    <div class="primary-heading">
        <a>Bình luận</a>
    </div>
    <div class="facebook-comments bg-white p30 light-shadow">
        @*<div class="fb-comments" data-href="@Model" data-numposts="5"></div>*@
        <div class="fb-comments" data-href="http://nghetinh24h.com.vn/Article/Detail/84" data-width="100%" data-numposts="5"></div>
    </div>
</section>
