@model string
<section class="mt30 mb30">
    <div class="primary-heading">
        <a>Bình luận</a>
    </div>
    <div class="facebook-comments bg-white p30 light-shadow">
        <div class="fb-comment-embed" data-href="@Model" data-width="100%"></div>
    </div>
</section>
