
@{
    Layout = "~/Areas/Admin/Views/Account/_AnonymousLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}
@model App.Services.Dtos.IdentityManagement.LogOnModel
<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            NgheTinh24h
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @if (ViewData.ModelState.IsValid)
            {
                <p class="login-box-msg">
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            }
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</div>

@section Scripts
{
   
}


